.align-left {
    text-align: left !important;
}
.align-right {
    text-align: right !important;
}
.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
    color: #fff !important;
    background-color: green !important;
}
ul.nav-pills a {
    color: green !important;
}
.muted {
    color: green !important;
}
.green-color {
    color: green !important;
}
img.project-logo {
    width: 50px;
    float: left;
    margin-right: 5px;
}
.bold {
    font-weight: bold;
}
div.processing {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    visibility: hidden;
}
div.processing img {
    left: 50%;
    top: 30%;
    position: absolute;
}
.jumbotron {
    margin: 0 !important;
}
.width-auto {
    width: auto !important;
}
.no-padding {
    padding: 0 !important;
}