div.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
td.text-left {
    text-align: left !important;
}
td.text-right {
    text-align: right !important;
}
div#detailsModal {
    width: 80%;
    left: 31%;
}
div#detailsModal h3 {
    text-align: left;
}
select.item-status {
    width: 130px;
}
input.date-return {
    width: 100px !important;
}